In [17]:
import pandas as pd

In [18]:
#read holiday data from csv file
holdata = pd.read_csv("destinations.csv")
#print holdata
print(holdata)

     Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
0          Greece          8.0          4.0                10        Thens
1          Turkey          7.0          3.0                11        Izmir
2         Denmark          6.0          3.0                21       Aarhus
3           Italy          7.0          3.5                 9         Rome
4   Dominican_Rep          5.5          3.0                12     Barahona
5        Thailand          5.0          4.0                13       Bankok
6           Spain          4.0          4.5                16    Barcelona
7        Maldives          5.0          3.0                 8         Male
8        Barbados          5.0          2.0                15   Bridgetown
9         Jamaica          3.0          2.5                 7     Kingston
10       St_Lucia          2.0          2.0                 6     Canaries
11        Bermuda          2.5          2.5                 4     Hamilton
12      Mauritius          4.0          3.0                15      Bambous
13     Seychelles          6.0          3.0                 4     Victoria
14            UAE          9.0          5.0                 7        Dubai

In [21]:
#1. How many rows and columns are there in your file?
holdata.shape

#there are 15 rows an 5 columns in the csv file

(15, 5)

In [22]:
#2. Print row 3-8 ( using iloc/loc).
print(holdata.iloc[2:8,0:5])

    Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
2        Denmark          6.0          3.0                21       Aarhus
3          Italy          7.0          3.5                 9         Rome
4  Dominican_Rep          5.5          3.0                12     Barahona
5       Thailand          5.0          4.0                13       Bankok
6          Spain          4.0          4.5                16    Barcelona
7       Maldives          5.0          3.0                 8         Male

In [23]:
#3. Find the mean number of all-inclusive hotels across all destinations.
holdata["Inclusive_hotels"].mean()

10.533333333333333

In [24]:
#4. Find the lowest scoring destination.
holdata.nsmallest(1, 'Feedback_10')

   Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
10     St_Lucia          2.0          2.0                 6     Canaries

In [25]:
#5. Find the highest scoring destination.
holdata.nlargest(1, 'Feedback_10')

   Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
14          UAE          9.0          5.0                 7        Dubai

In [27]:
#6. Find all the destinations where there are more than 9 all-inclusive hotels. 
filter_incl = holdata["Inclusive_hotels"] > 9

#show rows that meet the condition
filter_incl.head

<bound method NDFrame.head of 0      True
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9     False
10    False
11    False
12     True
13    False
14    False
Name: Inclusive_hotels, dtype: bool>

In [29]:
Greater_9 = holdata[filter_incl]

Greater_9.head()

    Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
0         Greece          8.0          4.0                10        Thens
1         Turkey          7.0          3.0                11        Izmir
2        Denmark          6.0          3.0                21       Aarhus
4  Dominican_Rep          5.5          3.0                12     Barahona
5       Thailand          5.0          4.0                13       Bankok

In [30]:
#7. Filter the data by score above 8.
filter_score = holdata["Feedback_10"] > 8

#show rows that meet the condition
filter_score.head

<bound method NDFrame.head of 0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
Name: Feedback_10, dtype: bool>

In [31]:
Greater_8 = holdata[filter_score]

Greater_8.head()

   Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
14          UAE          9.0          5.0                 7        Dubai

In [32]:
#8. Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem) 
filter_score2 = holdata["Feedback_10"] < 2

#show rows that meet the condition
filter_score2.head

#From the result below, there is no data score below 2 as all the score are 2 and above. Since there are nodestinations with scores below 2, no action is taken.

<bound method NDFrame.head of 0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Feedback_10, dtype: bool>

In [37]:
#9. Is there a correlation between number of all-inclusive hotels and score?

column_1 = holdata["Inclusive_hotels"]
column_2 = holdata["Feedback_10"]
correlation = column_1.corr(column_2)
correlation

#the correlation between number of all-inclusive hotels and score is 0.10287889029443405

0.10287889029443405

In [43]:
#10. Create a data visualisation diagram to show destination and highest scores?
high = holdata.nlargest(5, 'Feedback_10')
high

   Destinations  Feedback_10  Star_rating  Inclusive_hotels Most_visited
14          UAE          9.0          5.0                 7        Dubai
0        Greece          8.0          4.0                10        Thens
1        Turkey          7.0          3.0                11        Izmir
3         Italy          7.0          3.5                 9         Rome
2       Denmark          6.0          3.0                21       Aarhus